* {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    padding: 25px;
    width: 1000px;
    flex-wrap: wrap;
}

.gridSquare {
    border: 1px solid rgb(104, 104, 104);
    opacity: 10%;
}

